.history-text{
    text-align: center;
    border-width: 5px;
    border-color: #C50000;
    padding-top: 2.5px;
    padding-bottom: 5px;
    font-family: "FC Palette";
    font-size: 30px;
    margin-left: 70px;
    margin-top: 30px;
}
.item{
    margin-left: 70px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    font-family: "FC Palette";
    color: white;
    font-size: 25px;
}
.btn{
    z-index: 1;
    background-color: white;
    color: #C50000;
    font-size: 25px;
}
.text-btn{
    margin-top: 5px;
}

